@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Anton&family=Covered+By+Your+Grace&family=Lilita+One&family=Madimi+One&family=Moon+Dance&family=Playwrite+IT+Moderna:wght@100..400&family=Special+Gothic+Expanded+One&family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-50: #f5f0ff;
  /* بسیار روشن - برای پس‌زمینه */
  --color-brand-100: #e9ddff;
  /* روشن - برای هایلایت */
  --color-brand-200: #d5bfff;
  /* برای hover*/
  --color-brand-300: #b794ff;
  /* برای borderها */
  --color-brand-400: #9965ff;
  /* آکسان‌های متوسط */
  --color-brand-500: #7c3aed;
  /* رنگ اصلی برند (بنفش اصلی) */
  --color-brand-600: #6b21d8;
  /* برای متن‌های مهم */
  --color-brand-700: #5b16c2;
  /* برای عنوان‌ها */
  --color-brand-800: #4c10a3;
  /* برای دکمه‌های اصلی */
  --color-brand-900: #3c0c82;
  /* برای hover دکمه‌ها */
  --color-brand-950: #2a075e;
  /* تاریک - برای فوتر و عناصر خاص */

  --font-vazir: "Vazirmatn", "sans-serif";
  --font-Aleo: "Aleo", "sans-serif";
  --font-anton: "Anton", sans-serif;
  --font-covered-by-your-grace: "Covered By Your Grace", cursive;
  --font-lilita-one: "Lilita One", sans-serif;
  --font-madimi-one: "Madimi One", sans-serif;
  --font-moon-dance: "Moon Dance", cursive;
  --font-playwrite-it-moderna: "Playwrite IT Moderna", cursive;
  --font-special-gothic-expanded-one: "Special Gothic Expanded One", sans-serif;
   
  --animate-slideDown: {
    '0%': {
      transform: 'translateY(-100%)'
    }

    ,
    '100%': {
      transform: 'translateY(0)'
    }

    ,
  }
}

html {
  font-family: var(--font-vazir);
}

.activeMenuItem {
  @apply text-brand-700 bg-brand-100
}